{{ partial "head.html" . }}
<body>
    {{ partial "nav.html" . }}
    <div class="container mt-4">
            <h1 class="text-center heading">{{ .Title }}</h1>
            <span class="text-center text-muted my-2 d-block">Posted on {{.Date.Format "Jan 2, 2006"}} By {{ humanize .Params.author }}</span>
        </div>
        
        <img src="{{ .Site.BaseURL }}/images/{{ .Params.featured_image }}" class="mx-auto d-block my-4" style="max-width:100%;width:800px" alt="">
        
        <article style="max-width:890px" class="container w-100 my-5">
            {{ .Content }}
            {{ partial "share.html" . }}
            {{ partial "disqus.html" . }}
        </article>
        <style>
        article{
            color: rgba(0,0,0,0.86);
            font-size: 18px;
        }

        article img{
            max-width: 100%;
            margin: 0 auto;
        }
        </style>
    {{ partial "js.html" }}
{{ partial "footer.html" }}
