{{ partial "head.html" . }}
    <body>
      <div class="container">


       {{ partial "nav.html" . }}
        <section>
            <article class="text-center">
                <header>
                    <h1>
                        {{ .Title }}
                    </h1>
                    <span class="text-muted">
                    {{ .Date.Format "Jan 2, 2006" }} | By {{ $author := index .Site.Params.Author .Params.author }} {{ $author.fullname }}
                    <!-- · {{ if lt 1 .WordCount }}{{ .WordCount }} words{{ else }}{{ .WordCount }} word{{ end }}
                    · {{ .ReadingTime }} minute read -->
                      <div class="tags">
                      {{ with .Params.tags }}
                      {{ if ge (len .) 1 }}
                          {{ range . }}
                              <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">{{ . }}</a>
                          {{ end }}
                      {{ end }}
                      {{ end}}
                    </div>
                    </span>
                </header>
                {{ if .Site.Params.enableToc }}
                  {{ if .TableOfContents }}
                    <div id="toc">
                      {{ .TableOfContents }}
                    </div>
                  {{ end }}
                {{ end }}
                <section class="mt-5">
                    {{ .Content }}
                </section>
            </article>

            {{ if .Site.Params.enableShare }}
                {{ partial "share.html" . }}
            {{ end }}

            {{ if .Site.Params.enableDisqus }}
                {{ partial "disqus.html" . }}
            {{ end }}

            {{ if .Site.Params.showLatestPosts }}
                {{ partial "latest-posts.html" . }}
            {{ end }}

            {{ partial "footer.html" . }}
        </section>

        {{ partial "js.html" . }}
      </div>
    </body>
</html>
