{{ partial "head.html" . }}
    <body>
      <div class="container">

       {{ partial "nav.html" . }}
        <section>
            <article>
                <header>
                    <h1>
                        {{ .Title }}
                    </h1>
                    <span class="text-secondary">
                        <div class="text-secondary mb-3">By {{ $author := index .Site.Params.Author .Params.author }} {{ $author.fullname }} on {{ .Date.Format "2 January, 2006" }}</div>
                    <!-- · {{ if lt 1 .WordCount }}{{ .WordCount }} words{{ else }}{{ .WordCount }} word{{ end }}
                    · {{ .ReadingTime }} minute read -->
                      <div class="tags">
                      {{ with .Params.tags }}
                      {{ if ge (len .) 1 }}
                          {{ range . }}
                              <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">{{ . }}</a>
                          {{ end }}
                      {{ end }}
                      {{ end }}
                    </div>
                    </span>
                </header>
                {{ if isset .Params "featured_image" }}
                    <img class="w-100" src="{{ .Site.BaseURL }}/images/{{ index .Params "featured_image" }}" alt="">
                {{end}}
                
                {{ if .Site.Params.enableToc }}
                  {{ if .TableOfContents }}
                    <div id="toc">
                      {{ .TableOfContents }}
                    </div>
                  {{ end }}
                {{ end }}
                <section>
                    {{ .Content }}
                </section>
            </article>

            {{ if .Site.Params.enableShare }}
                {{ partial "share.html" . }}
            {{ end }}

            {{ if .Site.Params.enableDisqus }}
                {{ partial "disqus.html" . }}
            {{ end }}

            {{ if .Site.Params.showLatestPosts }}
                {{ partial "latest-posts.html" . }}
            {{ end }}

            {{ partial "footer.html" . }}
        </section>

        {{ partial "js.html" . }}
      </div>
    </body>
</html>
