<nav class="navbar navbar-expand-lg navbar-lg navbar-light nav-colored">
  <div class="container">
    <a href="/" class="navbar-brand">
      <img src="{{ .Site.BaseURL }}images/avatar.png" class="mr-2" height="30px"/> UICardio Blog
    </a>
    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto"></ul>
      <ul class="navbar-nav">
        <li class="nav-item"><a href="{{ .Site.Params.MainURL }}products" class="nav-link">Products</a></li>
        <li class="nav-item"><a href="https://blog.uicard.io/" class="nav-link">Blog</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Follow Us
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a style="color:#d62976" target="_blank" class="dropdown-item" href="https://instagram.com/uicardio"><i class="fab fa-instagram mr-3"></i>Instagram</a>
              <a style="color:#1d9ceb" target="_blank" class="dropdown-item" href="https://twitter.com/uicardio"><i class="fab fa-twitter mr-3"></i>Twitter</a>
              <a style="color:#3a5794" target="_blank" class="dropdown-item" href="https://facebook.com/UICardio"><i class="fab fa-facebook mr-3"></i>Facebook</a>
              
            </div>
          </li>
      </ul>
    </div>
  </div>
</nav>
