<nav class="navbar navbar-expand-lg navbar-lg navbar-light nav-colored">
  <div class="container"><a href="/" class="navbar-brand"><img src="{{ .Site.BaseURL }}images/avatar.png" height="30px"/></a>
    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto"></ul>
      <ul class="navbar-nav">
        <li class="nav-item"><a href="{{ .Site.Params.MainURL }}products" class="nav-link">Products</a></li>
        <li class="nav-item"><a href="{{ .Site.Params.MainURL }}blog/" class="nav-link">Blog</a></li>
        <li class="nav-item"><a href="{{ .Site.Params.MainURL }}login" class="nav-link">Login</a></li>
        <li class="nav-item"><a href="{{ .Site.Params.MainURL }}signup" class="btn btn-light">Signup</a></li>
      </ul>
    </div>
  </div>
</nav>
