<dl class="post text-center">
    {{ range where .Paginator.Pages "Params.hidden" "ne" "true" }}
    {{ $url := replace .Permalink .Site.BaseURL "" }}
        {{ if ne $url "about/" }}

              <a href='{{ .Permalink }}'>
                <h1>{{ .Title }}</h1></a>
                <aside class="text-muted mb-3">{{ .Date.Format "Jan 2" }} | By {{ $author := index .Site.Params.Author .Params.author }} {{ $author.fullname }}</aside>
                    {{ if .Site.Params.enableSummary }}
                        {{ if .Site.Params.useDescriptionReplaceSummary }}
                            <p>{{ .Description | plainify }}</p>
                        {{ else }}
                            <p>{{ .Summary | plainify }}</p>
                        {{ end }}
                    {{ end }}




        {{ end }}
    {{ end }}
</dl>
