<div class="post">
    {{ range where .Paginator.Pages "Params.hidden" "ne" "true" }}
    {{ $url := replace .Permalink .Site.BaseURL "" }}
        {{ if ne $url "about/" }}

              <div class="post-row">
                <h1><a href='{{ .Permalink }}'>{{ .Title }}</a></h1>
            
                <div class="text-secondary mb-3">By {{ $author := index .Site.Params.Author .Params.author }} {{ $author.fullname }} on {{ .Date.Format "2 January, 2006" }}</div>

                {{ if isset .Params "featured_image" }}
                  <img class="w-100" src="{{ .Site.BaseURL }}/images/{{ index .Params "featured_image" }}" alt="">
                {{ end }}

                {{ if .Site.Params.enableSummary }}
                    {{ if .Site.Params.useDescriptionReplaceSummary }}
                        <p class="text-secondary">{{ .Description | plainify }}</p>
                    {{ else }}
                        <p class="text-secondary">{{ .Summary | plainify }}</p>
                    {{ end }}
                {{ end }}

              </div>
                
        {{ end }}
    {{ end }}
</div>
