<div class="share text-center">
  <span class="d-inline d-sm-inline d-md-none">Share&nbsp;&nbsp;&nbsp;</span>
  <a target="_blank" class="btn btn-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}">
    <i class="fab fa-facebook"></i> <span class="d-none d-lg-inline d-md-inline">Share on Facebook</span>
  </a>
  <a class=" btn btn-twitter" target="_blank" href="https://twitter.com/home?status={{ .Permalink }}">
    <i class="fab fa-twitter"></i> <span class="d-none d-lg-inline d-md-inline">Share on Twitter</span>
  </a>
</div>